<%- include('../partials/header') %>

  <h2>Flights List</h2>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% const today=new Date(); %>
        <!-- Write the line of EJS to iterate over movies using forEach -->
        <% flights.forEach(function(f) { %>
            <td>
              <%= f.airline %>
            </td>
            <td>
              <%= f.airport %>
            </td>
            <td>
              <%= f.flightNo %>
            </td>
            <td>
              <%= f.departs.toLocaleString() %>
            </td>
            <td>
                <a href="/flights/<%= f._id  %>">Flight Details</a>
            </td>
          </tr>
          <% }); %>
    </tbody>
  </table>
  <%- include('../partials/footer') %>